In [1]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd

path="/content/drive/MyDrive/Conjunto de datos/atenciones_abogadas_de_las_mujeres (4).csv"

df= pd.read_csv(path)

registros = df.shape[0]
print(registros)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
121995

<ipython-input-1-c72e804fa0e2>:8: DtypeWarning: Columns (11,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv(path)

# 2. Hacer uso de la función info

In [12]:
# Importar libreria pandas
import pandas as pd

# Obtener url de archivo csv
path ="/content/drive/MyDrive/Conjunto de datos/atenciones_abogadas_de_las_mujeres (4).csv"

# Leer el CSV
df = pd.read_csv(path)

df.info()

<ipython-input-12-25ec39ac289d>:8: DtypeWarning: Columns (11,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121995 entries, 0 to 121994
Data columns (total 28 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   fecha                       121995 non-null  object
 1   agencia                     120918 non-null  object
 2   usuaria_sexo                121591 non-null  object
 3   usuaria_nacionalidad        121641 non-null  object
 4   usuaria_ent_fed_nacimiento  119967 non-null  object
 5   usuaria_estado_civil        88051 non-null   object
 6   usuaria_edad                120005 non-null  float64
 7   usuaria_hijas               108979 non-null  float64
 8   usuaria_hijos               102770 non-null  float64
 9   usuaria_hijes               108646 non-null  float64
 10  relacion_con_agresora       73933 non-null   object
 11  agresora_ocupacion          42172 non-null   object
 12  ci_iniciada                 99815 non-null   object
 13  delito                      42187 non-null   object
 14  representacion              116772 non-null  object
 15  violencia_modalidad         107400 non-null  object
 16  solicitud_medidas           40349 non-null   object
 17  alto_riesgo                 52963 non-null   object
 18  riesgo_feminicida           54000 non-null   object
 19  vio_psicoemocional          121995 non-null  object
 20  vio_fisica                  121995 non-null  object
 21  vio_economica               121995 non-null  object
 22  vio_patrimonial             121995 non-null  object
 23  vio_sexual                  121995 non-null  object
 24  vio_simbolica               121995 non-null  object
 25  vio_obstetrica              121995 non-null  object
 26  vio_reproductivos           121995 non-null  object
 27  vio_feminicida              121995 non-null  object
dtypes: float64(4), object(24)
memory usage: 26.1+ MB

# 3. Hacer uso de la función tail()

In [11]:
# Importar libreria pandas
import pandas as pd

# Obtener el url del archivo csv
path ="/content/drive/MyDrive/Conjunto de datos/atenciones_abogadas_de_las_mujeres (4).csv"

# Leer el CSV
df = pd.read_csv(path)

df.tail(1)

<ipython-input-11-a01052b9e82e>:8: DtypeWarning: Columns (11,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

,fecha,agencia,usuaria_sexo,usuaria_nacionalidad,usuaria_ent_fed_nacimiento,usuaria_estado_civil,usuaria_edad,usuaria_hijas,usuaria_hijos,usuaria_hijes,...,riesgo_feminicida,vio_psicoemocional,vio_fisica,vio_economica,vio_patrimonial,vio_sexual,vio_simbolica,vio_obstetrica,vio_reproductivos,vio_feminicida
121994,2022-03-01,COY-5,MUJER,MEXICANA,VERACRUZ DE IGNACIO DE LA LLAVE,SOLTERA(O),31.0,0.0,0.0,0.0,...,NO,Sí,Sí,No,Sí,No,No,No,No,No

# 4. Obtener el rango de fechas

In [26]:
# Importar libreria pandas
import pandas as pd

# Obtener el url del archivo csv
path ="/content/drive/MyDrive/Conjunto de datos/atenciones_abogadas_de_las_mujeres (4).csv"

# Leer el CSV"
df = pd.read_csv(path)

# Dar formato de fecha
df["fecha"] = pd.to_datetime(df["fecha"], format="%Y-%m-%d")

# Obtener el rango de fecha minimo
fecha_inicial = df["fecha"].min()
print(fecha_inicial)
# Obtener el rango de fecha maximo
fecha_final = df["fecha"].max()
print(fecha_final )
# Imprimir rango de fecha
print(f"El rango de fecha es del {fecha_inicial} al {fecha_final} ")

2019-03-01 00:00:00
2022-03-01 00:00:00
El rango de fecha es del 2019-03-01 00:00:00 al 2022-03-01 00:00:00

<ipython-input-26-fc2220db72fb>:8: DtypeWarning: Columns (11,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

# 5. Obtener la media aritmética

In [20]:
# Importar libreria pandas Y matplotlib
import pandas as pd
import matplotlib.pyplot as plt

# Obtener el url del archivo csv
path ="/content/drive/MyDrive/Conjunto de datos/atenciones_abogadas_de_las_mujeres (4).csv"

# Leer el CSV"
df = pd.read_csv(path)

# Obtener la media
media = df["usuaria_edad"].mean()

# Imprimir la media
print(media)

38.38658389233782

<ipython-input-20-4140e54be64a>:9: DtypeWarning: Columns (11,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

# 6. Obtener la moda

In [21]:
# Importar libreria pandas Y matplotlib
import pandas as pd
import matplotlib.pyplot as plt

# Obtener el url del archivo csv
path ="/content/drive/MyDrive/Conjunto de datos/atenciones_abogadas_de_las_mujeres (4).csv"

# Leer el CSV"
df = pd.read_csv(path)

# Obtener la moda
moda = df["usuaria_edad"].mode()

# Imprimir la moda
print(moda)

0    30.0
Name: usuaria_edad, dtype: float64

<ipython-input-21-30118e7b502f>:9: DtypeWarning: Columns (11,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)